<h1><%= @category.name %></h1>

<h4>Recipe List</h4>

<div class="list-group">
  <% @category.recipes().each() do |recipe| %>
  <a href="/categories/<%= @category.name() %>/<%= @recipe.id() %>" class="list-group-item"><%= @recipe.name() %></a>
  <% end %>
</div>

<h4>Add recipe:</h4>

<div class="form-group">
<form action="/categories/<%= @category.id() %>" method='post'>

  <label for='name'>Recipe Name</label>
  <input id='name' name='name' type='text' class="form-control">

  <label for='ingredients'>Ingredients</label>
  <input id='ingredients' name='ingredients' type='text' class="form-control">

  <label for='instructions'>Instructions</label>
  <input id='instructions' name='instructions' type='text' class="form-control">
  <br>

  <button type="submit" class="btn btn-success">Add</button>
</form>
</div>
<a class="btn btn-info" href="/categories" role="button">Recipe Book</a>
